*{margin:0;padding:0;}
body{
	font:14px/1.3 Tahoma, Arial, Helvetica, sans-serif;
	color:#666;
	background:#f6f5f0 url(../img/bg-body.jpg) repeat-x 50% 0;
	}
header, footer, hgroup, nav, aside{display:block;}

/* =Misc(links)
----------------------------------------------- */
a img,fieldset{border:none}
a{text-decoration:underline;}
a:hover{text-decoration:none;}
a{color:#cb2027;}
.clr{
	clear:both;
	height:1px;
	font-size:1px;
	line-height:1px;
	display:block;
	}
.flr{float:right;}
.fll{float:left;}
.font-gray{color:#666;}
.wrapper{
	width:960px;
	margin:0 auto;
	}
.btn{
	display:inline-block;
	line-height:28px;
	height:30px;
	background:#f8f7f7;
	background:-moz-linear-gradient(top,  #f8f7f7 0%, #f1f0f0 45%, #dad9d8 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f7f7), color-stop(45%,#f1f0f0), color-stop(100%,#dad9d8));
	background:-webkit-linear-gradient(top,  #f8f7f7 0%,#f1f0f0 45%,#dad9d8 100%);
	background:-o-linear-gradient(top,  #f8f7f7 0%,#f1f0f0 45%,#dad9d8 100%);
	background:-ms-linear-gradient(top,  #f8f7f7 0%,#f1f0f0 45%,#dad9d8 100%);
	background:linear-gradient(to bottom,  #f8f7f7 0%,#f1f0f0 45%,#dad9d8 100%);
	border-radius:7px;
	border:1px solid #c3c2c0;
	color:#666;
	text-decoration:none;
	font-size:12px;
	padding:0 11px;
	box-shadow:3px 3px 5px 0 rgba(0,0,0,0.15);
	cursor:pointer;
	}
.btn:hover{
	background:#dad9d8;
	background:-moz-linear-gradient(top,  #dad9d8 0%, #f1f0f0 55%, #f8f7f7 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#dad9d8), color-stop(55%,#f1f0f0), color-stop(100%,#f8f7f7));
	background:-webkit-linear-gradient(top,  #dad9d8 0%,#f1f0f0 55%,#f8f7f7 100%);
	background:-o-linear-gradient(top,  #dad9d8 0%,#f1f0f0 55%,#f8f7f7 100%);
	background:-ms-linear-gradient(top,  #dad9d8 0%,#f1f0f0 55%,#f8f7f7 100%);
	background:linear-gradient(to bottom,  #dad9d8 0%,#f1f0f0 55%,#f8f7f7 100%);
	}

/* .header
----------------------------------------------- */
.header{
	position:relative;
	padding:13px 0 12px 5px;
	}
	.header__logo{
		width:207px;
		height:95px;
		background:url(../img/logo.png);
		float:left;
		overflow:hidden;
		text-indent:-9999px;
		margin-top:15px;
		}
		.header__logo a{
			display:block;
			height:100%;
			}
	.header__slogan{
		text-transform:uppercase;
		color:#333;
		font-size:13px;
		font-style:normal;
		margin-left:23px;
		}
	.header__phone{
		font-size:15px;
		color:#cb2027;
		padding-left:13px;
		background:url(../img/phone.png) no-repeat 0 9px;
		position:absolute;
		right:35px;
		top:9px;
		}
		.header__phone span{
			font-size:18px;
			margin:0 0 0 5px;
			}
	.header__bottom{
		height:20px;
		margin:12px 3px 0 0;
		}
	.header__favorite{
		float:right;
		color:#cb2027;
		font-size:13px;
		margin-left:12px;
		}
		.header__favorite a{
			color:#cb2027;
			margin-right:6px;
			}
		.header__favorite span{color:#666;}

/* .top-nav
----------------------------------------------- */
	.top-nav{
		margin-top:29px;
		}
		.top-nav ul{
			list-style:none;
			overflow:hidden;
			}
			.top-nav li{
				text-transform:uppercase;
				font-size:15px;
				line-height:42px;
				float:left;
				}
				.top-nav a{
					color:#000;
					background:url(../img/top-nav.png);
					display:block;
					height:43px;
					text-align:center;
					text-decoration:none;
					letter-spacing:0.1em;
					margin:0 0 0 62px;
					}
				.top-nav a:hover, .top-nav .active a{color:#fff;}
				.top-nav .top-nav__news{
					width:112px;
					background-position:0 0;
					margin-left:21px;
					}
				.top-nav .top-nav__news:hover, .top-nav .active .top-nav__news{background-position:0 -43px;}
				.top-nav .top-nav__about{
					width:136px;
					background-position:-112px 0;
					}
				.top-nav .top-nav__about:hover, .top-nav .active .top-nav__about{background-position:-112px -43px;}
				.top-nav .top-nav__contacts{
					width:112px;
					background-position:-248px 0;
					}
				.top-nav .top-nav__contacts:hover, .top-nav .active .top-nav__contacts{background-position:-248px -43px;}
				.top-nav .top-nav__account{
					width:179px;
					background-position:-360px 0;
					margin-right:0;
					}
				.top-nav .top-nav__account:hover, .top-nav .active .top-nav__account{background-position:-360px -43px;}

/* .nav
----------------------------------------------- */
.nav{
	background:url(../img/bg-nav.jpg);
	border:1px solid #646b6e;
	height:41px;
	margin-bottom:30px;
	}
	.nav ul{
		list-style:none;
		margin-left:134px;
		height:41px;
		}
		.nav li{
			float:left;
			text-transform:uppercase;
			font-size:15px;
			line-height:35px;
			padding:3px 0;
			}
			.nav a{
				display:block;
				height:35px;
				text-align:center;
				text-decoration:none;
				letter-spacing:0.1em;
				color:#666;
				border-right:1px solid #fff;
				padding:0 31px;
				position:relative;
				}
				.nav .active a:after, .nav a:hover:after{
					content:"";
					height:8px;
					width:20px;
					background:url(../img/nav-arrow.png);
					position:absolute;
					bottom:-8px;
					left:50%;
					margin-left:-10px;
					}
			.nav li:first-child a{border-left:1px solid #fff;}
			.nav a:hover, .nav .active a{
				color:#fff;
				background:#cb2027
				}


/* .main
----------------------------------------------- */
.main{
	background:url(../img/bg-main.png) no-repeat 50% 0;
	margin:0 -14px;
	padding:0 14px;
	}
	.l{display:inline-block;}
		.l-col5-4{
			float:left;
			width:725px;
			}
		.l-col5-1{
			float:right;
			width:235px;
			}
	.main-title{
		color:#4d4d4d;
		font-size:17px;
		text-transform:uppercase;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:normal;
		margin-left:50px;
		line-height:24px;
		}
	.bc{
		list-style:none;
		margin-left:280px;
		}
		.bc li{
			display:inline-block;
			color:#4d4d4d;
			font-size:17px;
			font-family:Arial, Helvetica, sans-serif;
			padding:0 2px 0 16px;
			background:url(../img/bc-arrow.png) no-repeat 0 50%;
			}
		*+html .bc li{display:inline;}
		.bc li:first-child{
			background:none;
			padding-left:0;
			}
			.bc a{
				color:#4d4d4d;
				text-decoration:none;
				}
/* .last-news
----------------------------------------------- */
.last-news{
	padding-left:40px;
	width:180px;
	margin-bottom:20px;
	}
	.last-news h2{
		font-size:14px;
		color:#cb2027;
		font-weight:normal;
		margin-bottom:11px;
		}
		.last-news__date{
			font-size:14px;
			color:#cb2027;
			font-style:normal;
			display:block;
			margin-bottom:5px;
			}
		.last-news__item p{
			font-size:12px;
			font-family:"Myriad Pro", Tahoma, Arial, Helvetica, sans-serif;
			line-height:1.25;
			}
		.last-news__item a{
			color:#666;
			text-decoration:none;
			}
		.last-news__item a:hover{text-decoration:underline;}

/* .popular
----------------------------------------------- */
.popular{
	background:url(../img/bg-aside.png) no-repeat 100% 58px;
	margin:0 -14px 20px 0;
	padding:17px 14px 0 0;
	}
	.popular h2{
		font-size:14px;
		color:#cb2027;
		margin:0 0 13px 55px;
		}
	.popular__info{padding-left:26px;}
	.popular__info dl{
		margin:-4px 0 8px;
		line-height:20px;
		}
		.popular__info dt{
			color:#cb2027;
			float:left;
			}
		.popular__info .btn{margin-left:4px;}

/* .brands
----------------------------------------------- */
.brands{
	display:inline-block;
	width:100%;
	margin-bottom:15px;
	height:82px;
	}
	.load-catalog{
		float:left;
		width:111px;
		height:58px;
		background:url(../img/icon-pdf.png) no-repeat 6px 9px #fff;
		font-family:"Myriad Pro", Tahoma, Arial, Helvetica, sans-serif;
		font-size:14px;
		color:#666;
		text-decoration:none;
		border-radius:4px;
		margin-top:8px;
		padding:3px 0 0 56px;
		line-height:1.2;
		}
	.l-col5-1 .load-catalog{margin:45px 0 0 39px;}
	.load-catalog:hover{box-shadow:0 0 0 1px #ccc inset;}
	.brands__list{
		float:right;
		border:1px solid #666;
		border-top:none;
		padding-top:1px;
		border-radius:0 0 6px 6px;
		width:701px;
		margin-top:4px;
		}
		.brands__list h2{
			color:#cb2027;
			font-size:11px;
			text-transform:uppercase;
			margin:-13px 0 0 -1px;
			width:703px;
			text-align:center;
			background:url(../img/bg-brands-h.png) no-repeat 0 8px;
			}
		.brands__list ul{
			list-style:none;
			}
			.brands__list li{
				float:left;
				height:75px;
				line-height:75px;
				text-align:center;
				width:25%;
				}
				.brands__list img{vertical-align:middle;}

/* .footer
----------------------------------------------- */
.footer{
	background:url(../img/shadow.png) no-repeat 50% 0;
	padding:10px 0 5px;
	margin:10px 0 20px;
	}
	.footer__copy{
		color:#4d4d4d;
		text-align:center;
		font-size:12px;
		margin-bottom:11px;
		}
	.footer__dark{
		font-size:16px;
		color:#fff;
		background:#808080;
		text-align:right;
		padding:11px 28px 15px;
		line-height:1.2;
		}
		.footer__dark a{
			color:#fff;
			text-decoration:none;
			}
		.footer__dark a:hover{text-decoration:underline;}
	.footer__gray{
		font-size:16px;
		color:#fff;
		text-transform:uppercase;;
		text-align:center;
		background:#ccc;
		padding:5px 0 6px;
		margin-bottom:10px;
		}
	.footer__inf{
		color:#b3b3b3;
		font-size:11px;
		text-align:center;
		}